<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Manager</title>
        <link type="text/css" href="{echo CDN}bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link type="text/css" href="{echo CDN}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link type="text/css" href="{echo CDN}css/theme.css" rel="stylesheet">
        <link type="text/css" href="{echo CDN}images/icons/css/font-awesome.css" rel="stylesheet">
        <link type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
            rel="stylesheet">
    </head>
    <body>
        {include /layouts/navigation/standard.html}
        {ayield action}
        <!--
        <div class="footer">
            <div class="container">
                <center>
                <b class="copyright">&copy; 2014 SwiftPanel : <a href="https://www.cloudstuffs.com" target="_blank">Cloudstuffs</a></b>All rights reserved.
                </center>
            </div>
        </div>
        -->
        <script src="{echo CDN}scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="{echo CDN}scripts/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
        <script src="{echo CDN}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{echo CDN}scripts/flot/jquery.flot.js" type="text/javascript"></script>
        <script src="{echo CDN}scripts/flot/jquery.flot.resize.js" type="text/javascript"></script>
        <script src="{echo CDN}scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
        <script src="{echo CDN}scripts/common.js" type="text/javascript"></script> 
        </body>
</html>
