
<div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                    <!-- End Top Path -->
                            <div class="module">
                                <div class="module-head">
                                    <h3>
                                        <i class="icon-home"></i>
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <span>meraj/web/</span>
                                    </h3>
                                </div>
                            </div>
                            <!-- End Top Path -->
                        <div class="sidebar">
                            <ul class="widget widget-menu unstyled">
                                <li class="active"><a href="index.html"><i class="menu-icon icon-dashboard"></i>Dashboard
                                </a></li>
                                <li><a href="activity.html"><i class="menu-icon icon-bullhorn"></i>News Feed </a>
                                </li>
                                <li><a href="message.html"><i class="menu-icon icon-inbox"></i>Inbox <b class="label green pull-right">
                                    11</b> </a></li>
                                <li><a href="task.html"><i class="menu-icon icon-tasks"></i>Tasks <b class="label orange pull-right">
                                    19</b> </a></li>
                            </ul>
                            <!--/.widget-nav-->
                            
                            
                            <ul class="widget widget-menu unstyled">
                                <li><a href="ui-button-icon.html"><i class="menu-icon icon-bold"></i> Buttons </a></li>
                                <li><a href="ui-typography.html"><i class="menu-icon icon-book"></i>Typography </a></li>
                                <li><a href="form.html"><i class="menu-icon icon-paste"></i>Forms </a></li>
                                <li><a href="table.html"><i class="menu-icon icon-table"></i>Tables </a></li>
                                <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Charts </a></li>
                            </ul>
                            <!--/.widget-nav-->

                        </div>
                        <!--/.sidebar-->
                    </div>
                    <!--/.span3-->
                    <div class="span9">
                            <div class="module">
                                <div class="module-head">
                                    <h3 class="optmenu">
                                        <span class="icon-file" id="newfile">New File</span>
                                        <span class="icon-home" id="newfolder">New Folder </span>
                                        <span class="icon-remove" id="delete">delete </span>
                                        
                                    </h3>
                                </div>
                            </div>
                        <div class="content">
                            <div class="btn-controls">

                                <!-- Table OF Files-->
                                    <div class="module">
                            <div class="module-head">
                                <h3>DataTables</h3>
                            </div>
                            <div class="module-body table">
                                <div role="grid" class="dataTables_wrapper" id="DataTables_Table_0_wrapper">
                                <table cellspacing="0" cellpadding="0" width="100%" border="0" class="datatable-1 table table-bordered table-striped  display dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 135px;" aria-label="activate to sort column ascending">File / Folders</th>
                                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 205px;" aria-sort="ascending" aria-label="activate to sort column descending">Size</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 180px;" aria-label=" activate to sort column ascending">Permissions</th>
                                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 115px;" aria-label="activate to sort column ascending">Engine version</th>
                                        </tr>
                                    </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">

                                        <tr class="even gradeA">
                                            <td class="">.</td>
                                            <td class=" sorting_1">AOL browser (AOL desktop)</td>
                                            <td class="">Win XP</td>
                                            <td class="center ">6</td>
                                        </tr><tr class="gradeA odd">
                                            <td class="">..</td>
                                            <td class=" sorting_1">Camino 1.0</td>
                                            <td class="">OSX.2+</td>
                                            <td class="center ">1.8</td>
                                        </tr>
                                </tbody>
                                </table>
                                    </div>
                            </div>
                        </div>
                                <!-- Table oF files-->

                            </div>
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->